{% extends 'base.html' %}
{% block  title%}Acerca de mi{% endblock %}
{% block content %}

    <h1 class="titulo_principal">Acerca de mí</h1>
    <div class="perfil">
        <div class="perfil_img">   <!--Imagen-->
            <img src="/static/img/Johan Liebert fanart- Insta @kaikoykey.jpeg" alt="Captura de pantalla 2025-05-16 162402.png">
        </div>
        <div class="perfil_contenido">
            <div class="titulo_principal">
                <h2>Juanangel Alvarado Hererra <br><span> Aprendiz y Futuro Ing. en Sistemas</span></h2>
            </div>
            <p>
                "Donde sea que halla una sombra es porque debe haber una luz"<br>
                -Stefan Zweig
            <p></p>
                <div>
                    <a href="https://wa.me/3227732594"
                    target="_blank">
                    <button class="btn_contactar">contáctame</button>
                </a>
                </div>
            </p>
        </div>
    </div>
    <main class="contenedor_acerca">
        {%for acerca in perfil%}
        <section>
            <h2> {{ acerca.titulo }} </h2>
            <p>{{ acerca.contenido }}</p> <!--RECORDATORIO  COLOCAR TEXTO-->
        </section>
        {% endfor %}
    </main>















{% endblock %}